.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}




.item-slider {
  display: flex !important;
  justify-content: center !important;
  align-items: start !important;
  height: 75vh;
  width: 100% !important;
  overflow: hidden;
  margin-top: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
text-decoration: none !important;
color: gray !important;
}


.logo{
  width: 14rem;
}

.item-slider img {
  height: 550px;
  padding-bottom: 3rem;
  object-fit: contain !important;
}

.ul-footer {
  display: flex;
  justify-content: space-between;
  align-items: end !important;
  width: 100%;
  padding: 0;


  h2 {
    color: gray;
    font-size: 1.2rem;
  }
}

.ul-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  width: 100%;
  padding: 0;
height: 1rem;  

  h2 {
    color: gray;
    font-size: 1.2rem;
  }
}


.mail{
  text-decoration: none;
  color: black !important;
}

.h2-direccion{
font-size: 1rem !important;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  mix-blend-mode: difference;

  :hover {
    transform: scale(1.1);
  }

  img {
    width: 2rem;


  }
}

.arrow-left {
  left: 5%;
}

.img-direccion, .img-mail{
  display: none;
}

.arrow-right {
  right: 5%;
}

@media (max-width: 750px) {

  .item-slider{
    height:70vh;
  }
  .arrow-left {
    left: 10%;
    img{
      width: 1.5rem;
    }
  }

  .arrow-right {
    right: 10%;
    img{
      width: 1.5rem;
    }
  }

  .h2-direccion{
    display: none;
  }

  .img-direccion, .img-mail{
    display: inherit;
  }

  .logo{
    width: 12rem;
  }

  .mail{
display: none;
  }
}